{% extends 'main/header.html' %}

{% load bootstrap %}

{% block title %} Assignment Create {% endblock %}

{% block content %}

    <section class="dentist-area section-padding-40-0">
<div class="container">

<div class="row justify-content-center">

                <div class="col-lg-5 mb-5 mb-lg-0">
                    <center> <h3> Create Assignment </h3></center>
                          <br/>
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

                        {{ form|bootstrap }}

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                                <input type="submit" value="Create" class="btn btn-primary btn-md text-white">
                            </div>
                        </div>

                    </form>
                    <b>NOTE: </b> Upload Autograder folder as autograder.tgz including a .sh script file and corresponding input output files<br/>
                    <b>NOTE: </b> Allowed file types should be comma separated valid extensions like:  .zip, .tar, ....<br/>
                </div>

            </div>
        </div>
    </section>

{% endblock %}